<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <title>Newsletter Sign Up</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div style="font-size: 32px;">Sign Up to my Newsletter</div>
    <form class="container" action="/signup" method="post">
        <input type="name" name="firstName" placeholder="First Name" required>
        <input type="name" name="lastName" placeholder="Last Name" required>
        <input type="email" name="email" placeholder="Email" required>
        <button type="submit">Sign Up</button>
    </form>
</body>

</html>